IR_MVP01_workflow_v2a (1).json
{
  "name": "IR-MVP01-workflow-v2a",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 60
            },
            {
              "field": "seconds"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -240,
        1360
      ],
      "id": "d2426a72-c311-4595-93e3-4bcc591a246b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Find IR URL for {{ $json.company_name }}. You please return the official Investor Relations URL only. Donot write any text just URL should be returned. ",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1940,
        160
      ],
      "id": "bca9abfa-2949-41d5-9ffc-20b88e356c9f",
      "name": "AI Agent",
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1800,
        380
      ],
      "id": "14ecec6e-c268-4291-aa00-f4215670830b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "XvEX6afk77RI2ec5",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1180,
        -280
      ],
      "id": "ea6ef69d-716d-4d89-9bb0-3b9f2bd07e3b",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU",
          "mode": "list",
          "cachedResultName": "ir_intelligent_tracking_v1a",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "task_management",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "task_id": "={{ $('Switch').item.json.task_id }}",
            "company_id": "={{ $('Update Task with status=running').item.json.company_id }}",
            "task_type": "={{ $('Switch').item.json.task_type }}",
            "priority": "={{ $('Switch').item.json.priority }}",
            "created_at_datetime": "={{ $('Switch').item.json.created_at_datetime }}",
            "scheduled_datetime": "={{ $('Switch').item.json.scheduled_datetime }}",
            "completed_datetime": "={{ $now }}",
            "status": "completed"
          },
          "matchingColumns": [
            "task_id"
          ],
          "schema": [
            {
              "id": "task_id",
              "displayName": "task_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_id",
              "displayName": "company_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "task_type",
              "displayName": "task_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at_datetime",
              "displayName": "created_at_datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "scheduled_datetime",
              "displayName": "scheduled_datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "completed_datetime",
              "displayName": "completed_datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "35c4352e-4346-49ee-a17c-39d86e9ed80b",
      "name": "Update Task with New status=completed",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        3100,
        40
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rCZO1g4Bfv4ytGo3",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        760,
        120
      ],
      "id": "db8cbd29-38de-497d-816b-90d0a4d39038",
      "name": "Loop Over each pending task"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU",
          "mode": "list",
          "cachedResultName": "ir_intelligent_tracking_v1a",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "task_management",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "task_id": "={{ $('Switch').item.json.task_id }}",
            "company_id": "={{ $('Switch').item.json.company_id }}",
            "task_type": "={{ $('Switch').item.json.task_type }}",
            "status": "=running",
            "priority": "={{ $('Switch').item.json.priority }}",
            "created_at_datetime": "={{ $('Switch').item.json.created_at_datetime }}",
            "scheduled_datetime": "={{ $('Switch').item.json.scheduled_datetime }}",
            "completed_datetime": "={{ $('Switch').item.json.completed_datetime }}"
          },
          "matchingColumns": [
            "task_id"
          ],
          "schema": [
            {
              "id": "task_id",
              "displayName": "task_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_id",
              "displayName": "company_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "task_type",
              "displayName": "task_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at_datetime",
              "displayName": "created_at_datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "scheduled_datetime",
              "displayName": "scheduled_datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "completed_datetime",
              "displayName": "completed_datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "6b882fe0-2a50-4afd-b464-5d41368992a1",
      "name": "Update Task with status=running",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        1480,
        80
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rCZO1g4Bfv4ytGo3",
          "name": "Google Sheets account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU",
          "mode": "list",
          "cachedResultName": "ir_intelligent_tracking_v1a",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "task_management",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "pending"
            }
          ]
        },
        "options": {
          "returnAllMatches": "returnAllMatches"
        }
      },
      "id": "a5398c00-290a-4b1e-a1ca-1c476e61e93a",
      "name": "Read all pending Tasks",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        -60,
        40
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rCZO1g4Bfv4ytGo3",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "=priority"
            }
          ]
        },
        "options": {
          "disableDotNotation": false
        }
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        -160,
        520
      ],
      "id": "2150434e-27e8-4a6c-976c-5f2aa7d73dc9",
      "name": "Sort by priority"
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "workflow_id"
            }
          ],
          "string": [
            {
              "name": "workflow_name",
              "value": "n8n"
            }
          ]
        },
        "options": {}
      },
      "name": "Set n8n parameters",
      "type": "n8n-nodes-base.set",
      "position": [
        -300,
        -140
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "id": "1dda766c-2dff-4408-8342-ce5010be8864"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU",
          "mode": "list",
          "cachedResultName": "ir_intelligent_tracking_v1a",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 393075461,
          "mode": "list",
          "cachedResultName": "company_master",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU/edit#gid=393075461"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "company_id",
              "lookupValue": "={{ $('Switch').item.json.company_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c969176c-1221-43ae-9dfc-706a8069213a",
      "name": "Read company name by tak.company_id",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        1680,
        -180
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rCZO1g4Bfv4ytGo3",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.task_type }}",
                    "rightValue": "find_ir",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "23ff6910-04e3-4f33-9fa6-d1f1c66d9d73"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "find_ir"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2177f6be-a293-4f21-9034-863cbae9da71",
                    "leftValue": "={{ $json.task_type }}",
                    "rightValue": "scan_ir",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "scan_ir"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1040,
        340
      ],
      "id": "fe85ba66-1b7a-42da-b9d3-5beab75d59e8",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU",
          "mode": "list",
          "cachedResultName": "ir_intelligent_tracking_v1a",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 393075461,
          "mode": "list",
          "cachedResultName": "company_master",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU/edit#gid=393075461"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "company_id": "={{ $('Read company name by tak.company_id').item.json.company_id }}",
            "company_name": "={{ $('Read company name by tak.company_id').item.json.company_name }}",
            "status": "active",
            "ir_url": "={{ $('JS Code to remove linefeed from URL').item.json.output2 }}",
            "total_scans": "={{ $('Read company name by tak.company_id').item.json.total_scans }}",
            "created_at_datetime": "={{ $('Read company name by tak.company_id').item.json.created_at_datetime }}",
            "last_scan_datetime": "={{ $('Read company name by tak.company_id').item.json.last_scan_datetime }}",
            "next_scan_due_datetime": "={{ $('Read company name by tak.company_id').item.json.next_scan_due_datetime }}"
          },
          "matchingColumns": [
            "company_id"
          ],
          "schema": [
            {
              "id": "company_id",
              "displayName": "company_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ir_url",
              "displayName": "ir_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "total_scans",
              "displayName": "total_scans",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at_datetime",
              "displayName": "created_at_datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_scan_datetime",
              "displayName": "last_scan_datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "next_scan_due_datetime",
              "displayName": "next_scan_due_datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "b4d9041b-5340-4cd7-9902-3d54dbeb5275",
      "name": "Update company with status and IR URL",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        3300,
        120
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rCZO1g4Bfv4ytGo3",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3ae59af2-40e9-4874-b5a2-66aa66653459",
              "leftValue": "={{ $json.scheduled_datetime }}",
              "rightValue": "={{ $now }}",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -440,
        520
      ],
      "id": "9cf70669-c672-4726-9342-f51430919716",
      "name": "Filter"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  if (item.json.output) {\n    item.json.output2 = item.json.output.replace(/\\\\n/g, '').replace(/\\n/g, '').trim();\n  }\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        -20
      ],
      "id": "284c09df-b534-42cc-86f7-0966693fa9ad",
      "name": "JS Code to remove linefeed from URL"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU",
          "mode": "list",
          "cachedResultName": "ir_intelligent_tracking_v1a",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "task_management",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "task_id": "={{ $json.next_task_id }}",
            "company_id": "={{ $('Update Task with New status=completed').item.json.company_id }}",
            "task_type": "scan_ir",
            "status": "pending",
            "priority": "=2",
            "created_at_datetime": "={{ $('Update Task with New status=completed').item.json.created_at_datetime }}",
            "scheduled_datetime": "={{ $('Update Task with New status=completed').item.json.scheduled_datetime }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "task_id",
              "displayName": "task_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_id",
              "displayName": "company_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "task_type",
              "displayName": "task_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at_datetime",
              "displayName": "created_at_datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "scheduled_datetime",
              "displayName": "scheduled_datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "completed_datetime",
              "displayName": "completed_datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "ebe687d7-2b15-4406-a55d-0f6c4457771c",
      "name": "Create a new scan_ir Task",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        3920,
        340
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rCZO1g4Bfv4ytGo3",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU",
          "mode": "list",
          "cachedResultName": "ir_intelligent_tracking_v1a",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 964370344,
          "mode": "list",
          "cachedResultName": "global_variables",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU/edit#gid=964370344"
        },
        "options": {
          "returnAllMatches": "returnFirstMatch"
        }
      },
      "id": "1dc4bd4a-c0cc-4343-8fda-b0d8e1e523bf",
      "name": "Read new Task_id from globals",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        3720,
        120
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rCZO1g4Bfv4ytGo3",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.c4ai_host_url }}/crawl",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer my_secret_token"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=\n{ \"urls\": [\"{{ $('Current Company').item.json.ir_url }}\"] }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        1440
      ],
      "id": "7b944b9f-8386-4e95-ae5d-f4183c50548b",
      "name": "Crawl4AI request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5bb8649a-d70a-4236-97ce-051be4345344",
              "name": "results[0].links",
              "value": "={{ $json.results[0].links }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1860,
        1240
      ],
      "id": "1ae54302-12d6-425a-be42-88b16cd6861b",
      "name": "Edit Fields",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d439b0e5-b8ae-4164-8bd7-036ab2636481",
              "leftValue": "={{ $('Crawl4AI request').item.json.results[0].success }}",
              "rightValue": "success",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1480,
        1320
      ],
      "id": "88d780b5-7b70-4fd4-8ab2-874d5b4ef08a",
      "name": "If crawl success = true"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6106dcc6-d9ac-4d33-8482-67de163ad804",
              "leftValue": "={{ $json.success.toString().toLowerCase() }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1040,
        1420
      ],
      "id": "9b53242b-987c-4209-ba42-df57ea69bb84",
      "name": "If crawl status = completed",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0939RHKM4K",
          "mode": "list",
          "cachedResultName": "n8n-channel"
        },
        "text": "=IR Crawl Error! \nNew Installment Request with in 7 days:\nContact Email: {{ $json.Email }}\nPreferred Date: {{ $json['Installation Date'] }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1720,
        1680
      ],
      "id": "60e45804-d19e-4024-9027-2014c72d3bd4",
      "name": "Send a message",
      "webhookId": "b6c9ca01-0962-460b-9775-faecb25f9f2d",
      "credentials": {
        "slackOAuth2Api": {
          "id": "07HGj9XxBBAfQICW",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1020,
        2660
      ],
      "id": "02f1c480-2411-4ad6-80b4-9207f5231c55",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU",
          "mode": "list",
          "cachedResultName": "ir_intelligent_tracking_v1a",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "task_management",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "task_id": "={{ $('Current Task').item.json.task_id }}",
            "status": "scanning"
          },
          "matchingColumns": [
            "task_id"
          ],
          "schema": [
            {
              "id": "task_id",
              "displayName": "task_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_id",
              "displayName": "company_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "task_type",
              "displayName": "task_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at_datetime",
              "displayName": "created_at_datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "scheduled_datetime",
              "displayName": "scheduled_datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "completed_datetime",
              "displayName": "completed_datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "09c586ca-10d7-4330-bcab-887ef6f6b855",
      "name": "Update Task status = scanning",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        2140,
        920
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rCZO1g4Bfv4ytGo3",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU",
          "mode": "list",
          "cachedResultName": "ir_intelligent_tracking_v1a",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "task_management",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "task_id": "={{ $('Current Task').item.json.task_id }}",
            "status": "completed",
            "completed_datetime": "={{$now}}"
          },
          "matchingColumns": [
            "task_id"
          ],
          "schema": [
            {
              "id": "task_id",
              "displayName": "task_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_id",
              "displayName": "company_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "task_type",
              "displayName": "task_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at_datetime",
              "displayName": "created_at_datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "scheduled_datetime",
              "displayName": "scheduled_datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "completed_datetime",
              "displayName": "completed_datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "8afcaebc-d00e-49a7-8be6-f409a82e4957",
      "name": "Update Task status = completed",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        4580,
        1520
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rCZO1g4Bfv4ytGo3",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU",
          "mode": "list",
          "cachedResultName": "ir_intelligent_tracking_v1a",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1374286082,
          "mode": "list",
          "cachedResultName": "scan_session",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU/edit#gid=1374286082"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "completed",
            "scan_id": "={{ $json.next_scan_id }}",
            "scan_count": "1",
            "scan_type": "inital_scan",
            "total_urls": "={{ $('Code all_links').item.json.all_links.length }}",
            "scan_datetime": "={{ $now }}",
            "new_urls": "={{ $('Code all_links').item.json.all_links.length }}",
            "llm_filtered": "={{ $('Post-processing Code Classified Links').item.json.filtered_links.length }}",
            "llm_rejected": "={{ $('Post-processing Code Classified Links').item.json.rejected_links.length }}",
            "company_id": "={{ $('Current Company').item.json.company_id }}",
            "ir_url": "={{ $('Current Company').item.json.ir_url }}"
          },
          "matchingColumns": [
            "task_id"
          ],
          "schema": [
            {
              "id": "scan_id",
              "displayName": "scan_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_id",
              "displayName": "company_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "scan_count",
              "displayName": "scan_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ir_url",
              "displayName": "ir_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "scan_type",
              "displayName": "scan_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "scan_datetime",
              "displayName": "scan_datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "total_urls",
              "displayName": "total_urls",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "new_urls",
              "displayName": "new_urls",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "llm_filtered",
              "displayName": "llm_filtered",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "llm_rejected",
              "displayName": "llm_rejected",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "5c3cf60e-8e7e-43a5-8c99-a8ab94b39a0f",
      "name": "Create Scan Row First time",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        4300,
        1520
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rCZO1g4Bfv4ytGo3",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an intelligent classifier that reviews and filters a list of web links scraped from a company's Investor Relations (IR) webpage.\n\n### Your Objective:\nAnalyze each link and classify it into one of two categories:\n* *`filtered_links`*: Links that contain content relevant for **financial analysis** or **stock performance evaluation**.\n* *`rejected_links`*: Links that are **irrelevant** or **not useful** for financial decision-making.\n\n### Include in `filtered_links` if the link leads to content such as:\n* **Earnings reports**\n* **SEC filings (e.g., 10-K, 10-Q, 8-K)**\n* **Investor presentations or decks**\n* **Financial statements or metrics**\n* **Press releases** that may impact stock price\n* **Earnings call transcripts**\n* **Forward-looking guidance or outlook statements**\n\nThese links provide meaningful financial data or insight that could affect the company's **valuation**, **performance outlook**, or **stock price**.\n\n### Include in `rejected_links` if the link leads to:\n* **Blogs**, newsletters, or personal stories\n* **\"About Us\"** pages or company history\n* **Corporate Social Responsibility (CSR)**, sustainability, DEI, or other **public relations (PR)** content\n* **Careers** or job postings\n* **Contact**, **support**, or **customer service** pages\n* **Legal disclaimers**, **privacy policies**, or **terms of service**\n\nThese links do **not contribute** to financial insights and should be excluded from analysis.\n\n---\n### Input Format:\nYou will receive the input as a list of URLs in the following variable:\n```json\n{{ $json.all_links }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        2540,
        1400
      ],
      "id": "9daa9c75-16c0-4e39-b7d6-baf40c4fa311",
      "name": "Filter unwanted links"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2400,
        1720
      ],
      "id": "03f5da74-6537-4962-8d9f-fbbbacfa6d2a",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "XvEX6afk77RI2ec5",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU",
          "mode": "list",
          "cachedResultName": "ir_intelligent_tracking_v1a",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "task_management",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "task_id",
              "lookupValue": "=TSK7"
            }
          ]
        },
        "options": {
          "returnAllMatches": "returnFirstMatch"
        }
      },
      "id": "7a9692c7-050f-4453-bb7c-37072ba4d462",
      "name": "Read Task (temporary)1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        1260,
        920
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rCZO1g4Bfv4ytGo3",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": []
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1660,
        920
      ],
      "id": "00737d6e-ced2-4dfa-9e46-33b1758169f1",
      "name": "Current Task",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU",
          "mode": "list",
          "cachedResultName": "ir_intelligent_tracking_v1a",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 393075461,
          "mode": "list",
          "cachedResultName": "company_master",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU/edit#gid=393075461"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "company_id",
              "lookupValue": "={{ $json.company_id }}"
            }
          ]
        },
        "options": {
          "returnAllMatches": "returnFirstMatch"
        }
      },
      "id": "81590d74-056c-49d0-a909-115e8061e99f",
      "name": "Current Company",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        1900,
        920
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rCZO1g4Bfv4ytGo3",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const allLinks = [];\n\nfor (const item of $input.all()) {\n  // Extract the stringified links JSON\n  const linksRaw = item.json.results[0].links;\n\n  // Parse it into an object\n  const linksParsed = JSON.parse(linksRaw);\n\n  // Get internal and external hrefs\n  const internalHrefs = linksParsed.internal.map(link => link.href);\n  const externalHrefs = linksParsed.external.map(link => link.href);\n\n  // Combine all hrefs into the allLinks array\n  allLinks.push(...internalHrefs, ...externalHrefs);\n}\n\n// Join all links with newline and return a single object\nreturn [\n  {\n    json: {\n      all_links: allLinks\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2180,
        1400
      ],
      "id": "9f2ed1ee-f032-4e58-970d-d9aabec3fb8c",
      "name": "Code all_links"
    },
    {
      "parameters": {
        "jsCode": "const output = $input.item.json.output; // Assuming the AI output is in 'output' field\nlet cleanedOutput = output.replace(/```json\\n|```/g, \"\").trim();\n\ntry {\n  const parsedJson = JSON.parse(cleanedOutput);\n  return [{ json: parsedJson }];\n} catch (e) {\n  // Handle parsing errors, e.g., log the malformed JSON\n  return [{ json: { error: \"Failed to parse JSON\", original_output: output, parsing_error: e.message } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        1500
      ],
      "id": "e36b0e48-5f7e-45f5-84cf-77a474ce230f",
      "name": "Post-processing Code Classified Links"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU",
          "mode": "list",
          "cachedResultName": "ir_intelligent_tracking_v1a",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 964370344,
          "mode": "list",
          "cachedResultName": "global_variables",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU/edit#gid=964370344"
        },
        "options": {
          "returnAllMatches": "returnFirstMatch"
        }
      },
      "id": "6c48573b-2fed-4a0b-b0db-ed5b6da4d054",
      "name": "Read new Entity_id from Globals",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        4100,
        1520
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rCZO1g4Bfv4ytGo3",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the input data\nconst inputData = $input.first().json;\n// Extract filtered_links and rejected_links\nconst filteredLinks = inputData.filtered_links || [];\nconst rejectedLinks = inputData.rejected_links || [];\n// Create arrays for each type\nconst filteredItems = filteredLinks.map(link => ({\n  link_url: link,\n  link_type: \"classified\",\n  llm_class_assigned : \"?\",\n  classification_confidence : \"0.0\"\n}));\nconst rejectedItems = rejectedLinks.map(link => ({\n  link_url: link,\n  link_type: \"rejected\",\n  llm_class_assigned : \"\",\n  classification_confidence : \"0.0\"\n}));\nconst outputItems = filteredItems.concat(rejectedItems);\n\n/** HASHING CODE OF THE URL STARTS HERE **/\n// Function to normalize and hash URLs\nfunction normalizeAndHashURLSync(rawUrl) {\n  try {\n    console.log('Processing URL:', rawUrl);\n    \n    // Check if URL is valid\n    if (!rawUrl || typeof rawUrl !== 'string') {\n      console.log('Invalid URL input:', rawUrl);\n      return null;\n    }\n    \n    const url = new URL(rawUrl);\n    console.log('URL parsed successfully');\n    \n    // Normalize protocol and hostname\n    url.protocol = url.protocol.toLowerCase();\n    url.hostname = url.hostname.toLowerCase().replace(/^www\\./, '');\n    \n    // Remove default ports\n    if ((url.protocol === \"http:\" && url.port === \"80\") ||\n        (url.protocol === \"https:\" && url.port === \"443\")) {\n      url.port = \"\";\n    }\n    \n    // Decode and normalize pathname - be more careful with decoding\n    try {\n      url.pathname = decodeURIComponent(url.pathname);\n    } catch (decodeError) {\n      console.log('Decode error, using original pathname:', decodeError);\n      // Keep original pathname if decoding fails\n    }\n    \n    if (url.pathname !== \"/\" && url.pathname.endsWith(\"/\")) {\n      url.pathname = url.pathname.slice(0, -1);\n    }\n    \n    // Sort query parameters - be more careful with decoding\n    const sortedParams = [];\n    for (const [k, v] of url.searchParams.entries()) {\n      try {\n        sortedParams.push([k, decodeURIComponent(v)]);\n      } catch (decodeError) {\n        console.log('Query param decode error, using original:', decodeError);\n        sortedParams.push([k, v]);\n      }\n    }\n    \n    sortedParams.sort((a, b) => a[0].localeCompare(b[0]));\n    \n    url.search = sortedParams.length\n      ? \"?\" + new URLSearchParams(sortedParams).toString()\n      : \"\";\n    \n    const normalized = url.toString();\n    console.log('Normalized URL:', normalized);\n    \n    // Use a simple hash function\n    let hash = 0;\n    for (let i = 0; i < normalized.length; i++) {\n      const char = normalized.charCodeAt(i);\n      hash = ((hash << 5) - hash) + char;\n      hash = hash & hash; // Convert to 32-bit integer\n    }\n    \n    // Convert to hex string\n    const hashHex = Math.abs(hash).toString(16);\n    console.log('Generated hash:', hashHex);\n    \n    return {\n      normalizedUrl: normalized,\n      hash: hashHex\n    };\n  } catch (error) {\n    console.error('Error normalizing URL:', rawUrl, 'Error:', error.message);\n    return null;\n  }\n}\n\n// Process each item and add normalized URL and hash\noutputItems.forEach((item, index) => {\n  console.log(`Processing item ${index}:`, item.link_url);\n  const result = normalizeAndHashURLSync(item.link_url);\n  if (result) {\n    item.normalized_url = result.normalizedUrl;\n    item.normalized_url_hash = result.hash;\n    console.log('Success for item', index);\n  } else {\n    item.normalized_url = \"...\";\n    item.normalized_url_hash = \"...\";\n    console.log('Failed for item', index);\n  }\n});\n\n// Return the processed items\nreturn outputItems.map(item => ({\n  json: item\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3180,
        1480
      ],
      "id": "d3f98b92-5140-4a08-a95b-71f738758de9",
      "name": "Post-processing Code Classified Links1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU",
          "mode": "list",
          "cachedResultName": "ir_intelligent_tracking_v1a",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1619711285,
          "mode": "list",
          "cachedResultName": "llm_intelligent_classification",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU/edit#gid=1619711285"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "url_id": "={{ $json.next_url_id }}",
            "company_id": "={{ $('Current Company').item.json.company_id }}",
            "link_url": "={{ $('Loop Over each URL').item.json.link_url }}",
            "normalized_url": "={{ $('Loop Over each URL').item.json.normalized_url }}",
            "normalized_url_hash": "={{ $('Loop Over each URL').item.json.normalized_url_hash }}",
            "classification_confidence": "={{ $('Loop Over each URL').item.json.classification_confidence }}",
            "llm_class_assigned": "={{ $('Loop Over each URL').item.json.llm_class_assigned }}",
            "llm_status": "={{ $('Loop Over each URL').item.json.link_type }}",
            "first_seen_datetime": "={{ $now }}",
            "last_seen_datetime": "={{ $now }}",
            "scan_count": "1"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "url_id",
              "displayName": "url_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_id",
              "displayName": "company_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "link_url",
              "displayName": "link_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "normalized_url",
              "displayName": "normalized_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "normalized_url_hash",
              "displayName": "normalized_url_hash",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "llm_status",
              "displayName": "llm_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "llm_class_assigned",
              "displayName": "llm_class_assigned",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "classification_confidence",
              "displayName": "classification_confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "first_seen_datetime",
              "displayName": "first_seen_datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_seen_datetime",
              "displayName": "last_seen_datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "scan_count",
              "displayName": "scan_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "d49aa092-9252-4063-a2e9-bfe0bca8c3d4",
      "name": "Create a URL row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        4620,
        1040
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rCZO1g4Bfv4ytGo3",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3980,
        760
      ],
      "id": "79369050-14e8-452a-ad1b-61583ac9891d",
      "name": "Loop Over each URL"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU",
          "mode": "list",
          "cachedResultName": "ir_intelligent_tracking_v1a",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 964370344,
          "mode": "list",
          "cachedResultName": "global_variables",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU/edit#gid=964370344"
        },
        "options": {
          "returnAllMatches": "returnFirstMatch"
        }
      },
      "id": "34354837-1ba4-4f28-8ce7-2263a0f14632",
      "name": "Read new Entity_id from Globals1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        4340,
        880
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rCZO1g4Bfv4ytGo3",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "c4ai_host_url",
              "value": "https://a40c-39-58-177-52.ngrok-free.app"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "name": "Set crawl4ai host url parameter",
      "type": "n8n-nodes-base.set",
      "position": [
        220,
        1440
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "id": "db251448-c2d7-4440-b66e-4f988bb92031"
    },
    {
      "parameters": {
        "content": "## \\#3. Crawl4ai URL Classifier Pipeline\n",
        "width": 1800,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -540,
        720
      ],
      "id": "add8a5c4-59ba-42d7-9a58-cb617f39b029",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## \\#.4 Download Pipeline",
        "width": 1800,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -540,
        1880
      ],
      "id": "105ff37a-2849-4ed6-bf68-09a2f5961660",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## \\#2. The Find IR URL Pipeline \n",
        "width": 1640,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -540,
        -560
      ],
      "id": "0811451e-a73c-4aa5-bedf-e2bd0b7fc2f6",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2940,
        2740
      ],
      "id": "8dae0b5f-bb1e-4231-bfc9-de4c62104f62",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "url": "={{ $json.link_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3200,
        2920
      ],
      "id": "1387815f-73d5-4fa3-8cdc-0fab63c02121",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "name": "={{ $('Loop Over Items1').item.json.link_url.split('/').last() }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1SIqu2V6eCiMl03Ki6mXDlsEXE1aITLth",
          "mode": "list",
          "cachedResultName": "_IR-folder",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1SIqu2V6eCiMl03Ki6mXDlsEXE1aITLth"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3460,
        2980
      ],
      "id": "5a084b00-75a4-49bb-8e8b-69638b912d03",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ARLByGBLvYomHI6B",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the input data\nconst allItems = $input.all();\n\n// Separate by type\nconst classifiedItems = allItems.filter(item => item.json.link_type === \"classified\");\nconst rejectedItems = allItems.filter(item => item.json.link_type === \"rejected\");\n\n// Function to check if URL has downloadable file extension\nfunction hasDownloadableExtension(url) {\n  const downloadableExtensions = [\n    '.pdf', '.docx', '.doc', '.csv', '.xlsx', '.xls', \n    '.zip', '.rar', '.tar', '.gz', '.json', '.xml',\n    '.ppt', '.pptx', '.txt', '.rtf'\n  ];\n  \n  const urlLower = url.toLowerCase();\n  return downloadableExtensions.some(ext => urlLower.includes(ext));\n}\n\n// Separate classified items into downloadable and non-downloadable\nconst downloadableClassified = classifiedItems.filter(item => \n  hasDownloadableExtension(item.json.link_url)\n);\n\nconst nonDownloadableClassified = classifiedItems.filter(item => \n  !hasDownloadableExtension(item.json.link_url)\n);\n\n// Function to shuffle array randomly\nfunction shuffleArray(array) {\n  const shuffled = [...array];\n  for (let i = shuffled.length - 1; i > 0; i--) {\n    const j = Math.floor(Math.random() * (i + 1));\n    [shuffled[i], shuffled[j]] = [shuffled[j], shuffled[i]];\n  }\n  return shuffled;\n}\n\n// Shuffle each category\nconst shuffledDownloadable = shuffleArray(downloadableClassified);\nconst shuffledNonDownloadable = shuffleArray(nonDownloadableClassified);\nconst shuffledRejected = shuffleArray(rejectedItems);\n\n// Prioritize downloadable files, then fill with non-downloadable, then rejected\nlet selectedClassified = [];\n\n// First, take up to 3 downloadable files\nselectedClassified = [...shuffledDownloadable.slice(0, 4)];\n\n// If we need more classified items, add non-downloadable ones\nif (selectedClassified.length < 3) {\n  const needed = 3 - selectedClassified.length;\n  selectedClassified = [...selectedClassified, ...shuffledNonDownloadable.slice(0, needed)];\n}\n\n// Take 2 rejected items\nconst selectedRejected = shuffledRejected.slice(0, 2);\n\n// Combine and shuffle the final result\nconst finalItems = shuffleArray([...selectedClassified, ...selectedRejected]);\n\n// Add some logging to see what was prioritized\nconsole.log(`Found ${downloadableClassified.length} downloadable classified URLs`);\nconsole.log(`Found ${nonDownloadableClassified.length} non-downloadable classified URLs`);\nconsole.log(`Selected ${selectedClassified.filter(item => hasDownloadableExtension(item.json.link_url)).length} downloadable URLs`);\n\nreturn finalItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3500,
        1320
      ],
      "id": "ca395885-b2bf-4006-8222-43cf5e6b58f4",
      "name": "Temporary - X random items",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const items = $('Temporary - X random items').all(); \nconst pdfUrls = [];\n \nfor (let i = 0; i < items.length; i++) {\n  const linkUrl = items[i].json.link_url;\n  const urlid = items[i].json.url_id;\n \n  // Check if the link is a PDF (ends with .pdf)\n  if (linkUrl && linkUrl.endsWith('.pdf')) {\n    pdfUrls.push({\n      json: {\n\n        url_id : urlid,\n        link_url: linkUrl\n        \n      },\n    });\n  }\n}\n \n// Return the array as a single item\nreturn pdfUrls;\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2180,
        2560
      ],
      "id": "4a853404-bbbd-45ec-a0c3-df4ac99607eb",
      "name": "Filter PDFs only"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU",
          "mode": "list",
          "cachedResultName": "ir_intelligent_tracking_v1a",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 964370344,
          "mode": "list",
          "cachedResultName": "global_variables",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU/edit#gid=964370344"
        },
        "options": {
          "returnAllMatches": "returnFirstMatch"
        }
      },
      "id": "669f5b87-8f7a-4847-8c3e-e093322ee076",
      "name": "Read new Entity_id from Globals2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        3680,
        2980
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rCZO1g4Bfv4ytGo3",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU",
          "mode": "list",
          "cachedResultName": "ir_intelligent_tracking_v1a",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1619711285,
          "mode": "list",
          "cachedResultName": "llm_intelligent_classification",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU/edit#gid=1619711285"
        },
        "options": {
          "returnAllMatches": "returnAllMatches"
        }
      },
      "id": "1048ac6d-fc6c-4e5d-b6e2-4c5fb53c1eb8",
      "name": "Read URLs (temporary)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        1440,
        2360
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rCZO1g4Bfv4ytGo3",
          "name": "Google Sheets account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU",
          "mode": "list",
          "cachedResultName": "ir_intelligent_tracking_v1a",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 302598686,
          "mode": "list",
          "cachedResultName": "downloaded_document",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU/edit#gid=302598686"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "url_id": "={{ $('HTTP Request').item.json.link_url }}",
            "doc_id": "={{ $json.next_doc_id }}",
            "company_id": "={{ $('Create Scan Row First time').item.json.company_id }}",
            "file_type": "={{ $('Upload file').item.json.mimeType }}",
            "file_path": "={{ $('Upload file').item.json.webViewLink }}",
            "file_size": "={{ $('Upload file').item.json.size }}",
            "checksum": "={{ $('Upload file').item.json.md5Checksum }}",
            "download_datetime": "={{ $now }}",
            "download_status": "successful",
            "scan_id": "={{ $('Current Scan Id').item.json.scan_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "doc_id",
              "displayName": "doc_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "url_id",
              "displayName": "url_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "scan_id",
              "displayName": "scan_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_id",
              "displayName": "company_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "file_path",
              "displayName": "file_path",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "file_type",
              "displayName": "file_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "file_size",
              "displayName": "file_size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "checksum",
              "displayName": "checksum",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "download_datetime",
              "displayName": "download_datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "download_status",
              "displayName": "download_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "9a4dae66-38a8-4fcf-8633-2c124f52e24c",
      "name": "Create a Doc row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        4300,
        3160
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rCZO1g4Bfv4ytGo3",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## \\#1. Create Company Pipeline\n**This** creates a new company and a new task.",
        "width": 1640
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -580,
        -1420
      ],
      "id": "87ff1575-3687-4af8-b263-0af39a76c9ab",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "formTitle": "Submite Installation Data in here",
        "formDescription": "Submite Installation Data in here - we gonna post on slack",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Company Name",
              "placeholder": "Enter company Name",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -520,
        -1120
      ],
      "id": "5214c6cf-0efd-4615-89cc-8263a5283b01",
      "name": "On form submission",
      "webhookId": "02a839a8-1e39-4467-b322-029d6f3bcc3e"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU",
          "mode": "list",
          "cachedResultName": "ir_intelligent_tracking_v1a",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 964370344,
          "mode": "list",
          "cachedResultName": "global_variables",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU/edit#gid=964370344"
        },
        "options": {
          "returnAllMatches": "returnFirstMatch"
        }
      },
      "id": "ac2027eb-b4f6-4b14-bb96-09a3ba7de9fa",
      "name": "Read new Task_id from globals1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        -180,
        -1120
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rCZO1g4Bfv4ytGo3",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU",
          "mode": "list",
          "cachedResultName": "ir_intelligent_tracking_v1a",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 393075461,
          "mode": "list",
          "cachedResultName": "company_master",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU/edit#gid=393075461"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "company_id": "={{ $json.next_company_id }}",
            "status": "new",
            "created_at_datetime": "={{ $now }}",
            "company_name": "={{ $('On form submission').item.json['Company Name'] }}",
            "ir_url": "NULL",
            "total_scans": "0",
            "last_scan_datetime": "NULL",
            "next_scan_due_datetime": "NULL"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "company_id",
              "displayName": "company_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ir_url",
              "displayName": "ir_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "total_scans",
              "displayName": "total_scans",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at_datetime",
              "displayName": "created_at_datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_scan_datetime",
              "displayName": "last_scan_datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "next_scan_due_datetime",
              "displayName": "next_scan_due_datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "75ced9bf-1fe3-46d1-b0e5-e99d91f1caa6",
      "name": "Create a new Company",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        160,
        -940
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rCZO1g4Bfv4ytGo3",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0939RHKM4K",
          "mode": "list",
          "cachedResultName": "n8n-channel"
        },
        "text": "=Hello! \nA new company is Registered just now with Name: {{ $('Create a new Company').item.json.company_name }}  @ {{ $('Create a new Company').item.json.created_at_datetime }}, ({{ $('Create a new Company').item.json.company_id }})\n\nA new task is created:  Type: {{ $json.task_type }}, status: {{ $json.status }}, ({{ $json.task_id }})",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        840,
        -860
      ],
      "id": "f19c6452-5570-4fe4-8dd2-2834e7e355cf",
      "name": "Send a message1",
      "webhookId": "b6c9ca01-0962-460b-9775-faecb25f9f2d",
      "credentials": {
        "slackOAuth2Api": {
          "id": "DQvwnSV0icYkGQTx",
          "name": "Slack account 4"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU",
          "mode": "list",
          "cachedResultName": "ir_intelligent_tracking_v1a",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "task_management",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "task_id": "={{ $('Read new Task_id from globals1').item.json.next_task_id }}",
            "company_id": "={{ $json.company_id }}",
            "task_type": "find_ir",
            "status": "pending",
            "priority": "1",
            "created_at_datetime": "={{ $now }}",
            "scheduled_datetime": "={{ $now }}",
            "completed_datetime": "NULL"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "task_id",
              "displayName": "task_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_id",
              "displayName": "company_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "task_type",
              "displayName": "task_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at_datetime",
              "displayName": "created_at_datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "scheduled_datetime",
              "displayName": "scheduled_datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "completed_datetime",
              "displayName": "completed_datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "e8a7d16c-d7d6-4ec0-92ed-e3cc3311b977",
      "name": "Create a new pending Task",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        520,
        -980
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rCZO1g4Bfv4ytGo3",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0939RHKM4K",
          "mode": "list",
          "cachedResultName": "n8n-channel"
        },
        "text": "=Hello - A new pending TASK is started to find the IR URL (Task ID: {{ $json.task_id }})! \nTask status is changed to running.",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1280,
        -60
      ],
      "id": "b1c2bf27-a387-4ad1-8b7f-9e45ed207fd1",
      "name": "Send a message2",
      "webhookId": "b6c9ca01-0962-460b-9775-faecb25f9f2d",
      "credentials": {
        "slackOAuth2Api": {
          "id": "DQvwnSV0icYkGQTx",
          "name": "Slack account 4"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0939RHKM4K",
          "mode": "list",
          "cachedResultName": "n8n-channel"
        },
        "text": "=Task completion successful. (Task ID: {{ $('Update Task with New status=completed').item.json.task_id }})! \nTask status is changed to completed.\n\n\"{{ $json.company_name }}\" found IR url: {{ $json.ir_url }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        3520,
        -60
      ],
      "id": "4830447b-33c6-43ff-baa3-9900c61fa861",
      "name": "Send a message3",
      "webhookId": "b6c9ca01-0962-460b-9775-faecb25f9f2d",
      "credentials": {
        "slackOAuth2Api": {
          "id": "DQvwnSV0icYkGQTx",
          "name": "Slack account 4"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU",
          "mode": "list",
          "cachedResultName": "ir_intelligent_tracking_v1a",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "task_management",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "task_id": "={{ $('Switch').item.json.task_id }}",
            "company_id": "={{ $('Switch').item.json.company_id }}",
            "task_type": "={{ $('Switch').item.json.task_type }}",
            "status": "=failed",
            "priority": "={{ $('Switch').item.json.priority }}",
            "created_at_datetime": "={{ $('Switch').item.json.created_at_datetime }}",
            "scheduled_datetime": "={{ $('Switch').item.json.scheduled_datetime }}",
            "error_message": "={{ $json.error }}",
            "completed_datetime": "={{ $('Switch').item.json.completed_datetime }}",
            "error_seen_datetime": "={{ $now }}"
          },
          "matchingColumns": [
            "task_id"
          ],
          "schema": [
            {
              "id": "task_id",
              "displayName": "task_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_id",
              "displayName": "company_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "task_type",
              "displayName": "task_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at_datetime",
              "displayName": "created_at_datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "scheduled_datetime",
              "displayName": "scheduled_datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "completed_datetime",
              "displayName": "completed_datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "error_seen_datetime",
              "displayName": "error_seen_datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "9ff14c71-8440-4403-a840-6c465325669d",
      "name": "Update Task with status=ERROR",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        2580,
        340
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rCZO1g4Bfv4ytGo3",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU",
          "mode": "list",
          "cachedResultName": "ir_intelligent_tracking_v1a",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 393075461,
          "mode": "list",
          "cachedResultName": "company_master",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU/edit#gid=393075461"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "company_id": "={{ $('Read company name by tak.company_id').item.json.company_id }}",
            "company_name": "={{ $('Read company name by tak.company_id').item.json.company_name }}",
            "status": "failed",
            "ir_url": "=Not found",
            "total_scans": "={{ $('Read company name by tak.company_id').item.json.total_scans }}",
            "created_at_datetime": "={{ $('Read company name by tak.company_id').item.json.created_at_datetime }}",
            "last_scan_datetime": "={{ $('Read company name by tak.company_id').item.json.last_scan_datetime }}",
            "next_scan_due_datetime": "={{ $('Read company name by tak.company_id').item.json.next_scan_due_datetime }}",
            "error_message": "={{ $json.error_message }}",
            "error_seen_datetime": "={{ $now }}"
          },
          "matchingColumns": [
            "company_id"
          ],
          "schema": [
            {
              "id": "company_id",
              "displayName": "company_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ir_url",
              "displayName": "ir_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "total_scans",
              "displayName": "total_scans",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at_datetime",
              "displayName": "created_at_datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_scan_datetime",
              "displayName": "last_scan_datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "next_scan_due_datetime",
              "displayName": "next_scan_due_datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_seen_datetime",
              "displayName": "error_seen_datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "0693c5cf-6659-4257-adab-170246596c34",
      "name": "Update company with status ERROR",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        3040,
        340
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rCZO1g4Bfv4ytGo3",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU",
          "mode": "list",
          "cachedResultName": "ir_intelligent_tracking_v1a",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "task_management",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/174IdM3986DgQMFtBcnK1nFys3d7VqrlV6x98K976wVU/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "failed"
            }
          ]
        },
        "options": {
          "returnAllMatches": "returnAllMatches"
        }
      },
      "id": "80cef02a-96f8-48eb-927d-554be1facb1e",
      "name": "Read all pending Tasks2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        -40,
        -220
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rCZO1g4Bfv4ytGo3",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        260,
        20
      ],
      "id": "9f17a755-4016-4fa1-892c-3ea040a9c63b",
      "name": "Merge"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0939RHKM4K",
          "mode": "list",
          "cachedResultName": "n8n-channel"
        },
        "messageType": "attachment",
        "attachments": [
          {
            "color": "#ff0000",
            "text": "=Task execution failed. (Task ID: {{ $('Update Task with status=ERROR').item.json.task_id }})!  Task status is failed.  \nThe company \"{{ $json.company_name }}\" found with NO IR url with error: {{ $json.error_message }}"
          }
        ],
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        3260,
        340
      ],
      "id": "bce42395-2b05-4af3-8d7e-274c4bafd5d5",
      "name": "Send an error message5",
      "webhookId": "b6c9ca01-0962-460b-9775-faecb25f9f2d",
      "credentials": {
        "slackOAuth2Api": {
          "id": "DQvwnSV0icYkGQTx",
          "name": "Slack account 4"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e0edf62e-8a18-49a1-b6f1-3d8196143396",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2840,
        -20
      ],
      "id": "8feed7a1-a4a3-478b-9ff2-30e71ebf1866",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "function isValidUrl(url) {\n  const pattern = /^(https?:\\/\\/)[^\\s/$.?#].[^\\s]*$/i;\n  return pattern.test(url);\n}\n\nfor (const item of $input.all()) {\n  const url = item.json.output;\n  item.json.isValidUrl = isValidUrl(url);\n}\n\nreturn $input.all();\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2620,
        -20
      ],
      "id": "b9114494-95fd-459e-a5f3-f1c1dc68c89e",
      "name": "Code - is a valid url?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d439b0e5-b8ae-4164-8bd7-036ab2636481",
              "leftValue": "={{ $json.results[0].success }}",
              "rightValue": "success",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        720,
        1440
      ],
      "id": "7098568f-c740-4bff-bf08-07d966d052f2",
      "name": "If crawl success = true1"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0939RHKM4K",
          "mode": "list",
          "cachedResultName": "n8n-channel"
        },
        "messageType": "attachment",
        "attachments": [
          {
            "color": "#ff0000",
            "text": "=Crawl Error!  \nCrawler failed with error: {{ $json.results[0].error_message }}"
          }
        ],
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1040,
        1680
      ],
      "id": "4d522b39-4c5e-41e4-9224-d5de1f0dd3e0",
      "name": "Send a message4",
      "webhookId": "b6c9ca01-0962-460b-9775-faecb25f9f2d",
      "credentials": {
        "slackOAuth2Api": {
          "id": "07HGj9XxBBAfQICW",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Return only the first item\nreturn [$input.first()];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3920,
        1520
      ],
      "id": "041158b8-6a43-4641-9547-bafb475c52b1",
      "name": "Take first item only"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "12669f84-b465-40e4-8b55-c1bc96e73f3e",
              "name": "scan_id",
              "value": "={{ $json.scan_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4760,
        2180
      ],
      "id": "83f0c78d-47ff-42a3-a79e-771d9598ecbb",
      "name": "Current Scan Id",
      "alwaysOutputData": true
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set n8n parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "JS Code to remove linefeed from URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Task with status=ERROR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Update Task with New status=completed": {
      "main": [
        [
          {
            "node": "Update company with status and IR URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over each pending task": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Task with status=running": {
      "main": [
        [
          {
            "node": "Read company name by tak.company_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read all pending Tasks": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Set n8n parameters": {
      "main": [
        [
          {
            "node": "Read all pending Tasks",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read all pending Tasks2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort by priority": {
      "main": [
        [
          {
            "node": "Loop Over each pending task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read company name by tak.company_id": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Current Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update company with status and IR URL": {
      "main": [
        [
          {
            "node": "Send a message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Sort by priority",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JS Code to remove linefeed from URL": {
      "main": [
        [
          {
            "node": "Code - is a valid url?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a new scan_ir Task": {
      "main": [
        [
          {
            "node": "Loop Over each pending task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read new Task_id from globals": {
      "main": [
        [
          {
            "node": "Create a new scan_ir Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crawl4AI request": {
      "main": [
        [
          {
            "node": "If crawl success = true1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code all_links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If crawl status = completed": {
      "main": [
        [
          {
            "node": "If crawl success = true",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If crawl success = true": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read URLs (temporary)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Task status = scanning": {
      "main": [
        [
          {
            "node": "Set crawl4ai host url parameter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Task status = completed": {
      "main": [
        []
      ]
    },
    "Filter unwanted links": {
      "main": [
        [
          {
            "node": "Post-processing Code Classified Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Filter unwanted links",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create Scan Row First time": {
      "main": [
        [
          {
            "node": "Update Task status = completed",
            "type": "main",
            "index": 0
          },
          {
            "node": "Current Scan Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Task (temporary)1": {
      "main": [
        [
          {
            "node": "Current Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Current Task": {
      "main": [
        [
          {
            "node": "Current Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Current Company": {
      "main": [
        [
          {
            "node": "Update Task status = scanning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code all_links": {
      "main": [
        [
          {
            "node": "Filter unwanted links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post-processing Code Classified Links": {
      "main": [
        [
          {
            "node": "Post-processing Code Classified Links1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read new Entity_id from Globals": {
      "main": [
        [
          {
            "node": "Create Scan Row First time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post-processing Code Classified Links1": {
      "main": [
        [
          {
            "node": "Temporary - X random items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over each URL": {
      "main": [
        [],
        [
          {
            "node": "Read new Entity_id from Globals1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read new Entity_id from Globals1": {
      "main": [
        [
          {
            "node": "Create a URL row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a URL row": {
      "main": [
        [
          {
            "node": "Loop Over each URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set crawl4ai host url parameter": {
      "main": [
        [
          {
            "node": "Crawl4AI request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Read new Entity_id from Globals2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Temporary - X random items": {
      "main": [
        [
          {
            "node": "Loop Over each URL",
            "type": "main",
            "index": 0
          },
          {
            "node": "Take first item only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter PDFs only": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read new Entity_id from Globals2": {
      "main": [
        [
          {
            "node": "Create a Doc row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read URLs (temporary)": {
      "main": [
        [
          {
            "node": "Filter PDFs only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a Doc row": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read new Task_id from globals1": {
      "main": [
        [
          {
            "node": "Create a new Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Read new Task_id from globals1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a new Company": {
      "main": [
        [
          {
            "node": "Create a new pending Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a new pending Task": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message2": {
      "main": [
        [
          {
            "node": "Update Task with status=running",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message3": {
      "main": [
        [
          {
            "node": "Read new Task_id from globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Task with status=ERROR": {
      "main": [
        [
          {
            "node": "Update company with status ERROR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update company with status ERROR": {
      "main": [
        [
          {
            "node": "Send an error message5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read all pending Tasks2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update Task with New status=completed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Task with status=ERROR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - is a valid url?": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If crawl success = true1": {
      "main": [
        [
          {
            "node": "If crawl status = completed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Take first item only": {
      "main": [
        [
          {
            "node": "Read new Entity_id from Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Current Scan Id": {
      "main": [
        [
          {
            "node": "Filter PDFs only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dd2ec1a1-0ba4-4fe1-907d-94c3c2f1a5bd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7c8934d0eaeb4cc28ce034bdb0175d7c7d1783fbdc925bdfb7f9fb00b5acbdce"
  },
  "id": "7g7yIlhPHpPpjYs1",
  "tags": []
}